Source: agnocast-heaphook
Section: libs
Priority: optional
Maintainer: Takahiro Ishikawa-Aso <sykwer@gmail.com>
Build-Depends: debhelper (>= 13), cargo, rustc, dh-cargo
Standards-Version: 4.6.1
Homepage: https://github.com/tier4/agnocast

Package: agnocast-heaphook
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A heap runtime replacement for Agnocast.
 To achieve true zero-copy communication with Agnocast, message objects must be placed in shared memory. Therefore, all heap allocation and deallocation operations are intercepted and customized using LD_PRELOAD hooks.
