Source: agnocast-kmod
Section: kernel
Priority: optional
Maintainer: Takahiro Ishikawa-Aso <sykwer@gmail.com>
Homepage: https://github.com/tier4/agnocast
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 10), dkms, build-essential, fakeroot, rsync, linux-headers-generic | linux-headers

Package: agnocast-kmod
Architecture: all
Depends: ${misc:Depends}, dkms, linux-headers-generic | linux-headers
Description: DKMS-based kernel module package for Agnocast
 This package provides the Agnocast kernel module
 managed via DKMS, enabling automatic rebuild upon
 kernel updates.
